/* You can add global styles to this file, and also import other style files */
/* :root {
    --primary-color: #fff;
    --secondary-color: 
    --background-color: #e5e5e5;
    --text-color: #2d2d2d;
  } */
app-root {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* app-logon-screen {
    padding-left: 200px;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
