/* .home-container {
    height: 100vh;
    background-color: lightblue;
  } */

#background_header {
  width: 100%;
  height: 80vh;
  background: -moz-radial-gradient(circle at 50% 25%, #7B002F 0%, #710027 7%, #500028FC 14%, #1D021E 24%, #000000 36%, #000000 42%, #000000 56%, #000000 71%, #000000 83%, #000000 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 50% 25%, #7B002F 0%, #710027 7%, #500028FC 14%, #1D021E 24%, #000000 36%, #000000 42%, #000000 56%, #000000 71%, #000000 83%, #000000 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 50% 25%, #7B002F 0%, #710027 7%, #500028FC 14%, #1D021E 24%, #000000 36%, #000000 42%, #000000 56%, #000000 71%, #000000 83%, #000000 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 50% 25%, #7B002F 0%, #710027 7%, #500028FC 14%, #1D021E 24%, #000000 36%, #000000 42%, #000000 56%, #000000 71%, #000000 83%, #000000 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 50% 25%, #7B002F 0%, #710027 7%, #500028FC 14%, #1D021E 24%, #000000 36%, #000000 42%, #000000 56%, #000000 71%, #000000 83%, #000000 100%);
}

#background_body {
  height: 20vh;
  background-color: #d50353;
}

#chatContainer {
  position: fixed;
  top: 0%;
  bottom: 0%;
  margin: auto;
  width: 70%;
  height: 90%;
  background-color: #fff;
  right: 0px;
  left: 0px;
  box-shadow: -1px 1px 5px rgba(#333, 0.2);
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  app-contacts-view {
    flex-basis: 30%;
    display: block;
    height: 100%;
  }

  #chat {
    background-color: #f7f9fa;
    flex-grow: 1;

    #chatPlaceholder {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      flex-direction: column;

      h2 {
        font-size: 35px;
        font-weight: normal;
        color: #555555;
      }
      .seperator {
        width: 50%;
        border-top: 1px solid #eaeaea;
        margin: 30px 0px;
      }
      p {
        text-align: center;
      }
    }
  }
}
