<div id="container">
  <div id="header">
    <div class="avatarSection">
      <div class="picture">
        <img src="../../assets/images/noPic.svg" />
      </div>

      <div class="nameSection">{{ (currentChatRoom.users | GetEndUser: currentUser.id).username}}</div>
    </div>
    <div class="actionButtons">
      <img src="../../assets/images/attached.svg" />
      <img src="../../assets/images/moreVertIcon.svg" />
    </div>
  </div>
  <div id="body" #scrollContainer>
    <div class="message" [ngClass]="{ me: message.userId !== (currentChatRoom.users | GetEndUser : currentUser.id).id }" *ngFor="let message of currentChatRoom!.messages">
        <div class="messageContent">
          {{ message.messageText }}
          <div class="time">{{ message.timestamp | date }}</div>
        </div>
    </div>
  </div>
  <div id="footer">
    <div id="smileyIcon">
      <img src="../../assets/images/smileIcon.svg"/>
    </div>
    <div id="textarea">
      <textarea
        [(ngModel)]="messageText"
        (keyup.enter)="sendButtonHandler($event)"
      ></textarea>
    </div>
    <div id="micIcon">
      <img src="../../assets/images/voiceIcon.svg" />
    </div>
  </div>
</div>


<!-- <div *ngIf="endUser !== undefined" class="h-100" id="chat-frame">
  <div class="text-center p-2 bg-secondary text-white"><h3>{{endUser.username}}</h3></div>
  <div class="chat-panel bg-white">
    <div *ngFor="let message of currentRoom!.messages">
      <div *ngIf="message.userId === endUser!.id" class="row no-gutters">
        <div class="col-md-3">
          <div class="chat-bubble chat-bubble--left">
            {{ message.messageText }}
          </div>
        </div>
      </div>
      <div *ngIf="message.userId !== endUser!.id" class="row no-gutters">
        <div class="col-md-3 offset-md-9">
          <div class="chat-bubble chat-bubble--right">
            {{ message.messageText }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="chat-box-tray input-group p-2" style="bottom: 0;margin-top: auto;">
        <input type="text" class="form-control" placeholder="Enter a message" aria-label="Recipient's username"
          aria-describedby="basic-addon2" [(ngModel)]="messageText">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="sendButtonHandler($event)">Send</button>
        </div>
      </div>
    </div>
  </div>
</div> -->