<div class="text-center">
  <form style>
    <img class="mt-4 mb-4" src="https://media.istockphoto.com/vectors/letter-logo-formed-by-two-parallel-lines-with-noise-texture-vector-id1201523312?k=20&m=1201523312&s=612x612&w=0&h=muC5BerISf25lI9aWRDTUpWABqOADIO_OPfEX2ZkMU0=" height="72" alt="Logo">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    
    <div class="form-group">
      <!-- <label for="username" class="sr-only">Nume</label> -->
      <input class="form-control" type="text" placeholder="Username" id="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" required autofocus>
    </div>
    <div class="form-group">
      <!-- <label for="password" class="sr-only">Password</label>  -->
      <input class="form-control" type="password" placeholder="Password" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <!-- <label for="rpassword" class="sr-only">Repeat Password</label> -->
      <input class="form-control" type="password" placeholder="Repeat password" id="rpassword" [(ngModel)]="rPassword" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mt-3">
      <button id="register-btn" class="btn btn-lg btn-dark btn-block" (click)="register()">Register</button>
    </div>
  </form>
</div>
