<div class="form">
    <div class="container">
      <div class="field">
        <label>Nume</label>
        <input type="text" placeholder="Username" id="username" [(ngModel)]="username">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" placeholder="Password" id="password" [(ngModel)]="password">
      </div>
      <div class="field">
        <label>Repeat Password</label>
        <input type="password" placeholder="Password" id="rpassword" [(ngModel)]="rPassword">
      </div>
      <button class="btn btn-danger" (click)="Register()">Register</button>
    </div>
  </div>
  