.form {
  text-align: center;
  margin-bottom: 50px;
}

.container {
  margin: 30px auto;
  padding: 20px 30px;
  background-color: #f7f7f7;
  font-family: 'Lucida Sans';
}

.field {
  display: flex;
  flex-direction: column;
}

input {
  width: 220px;
  height: 30px;
  font-size: 20px;
  padding: 2px 30px;
  border: none;
  margin-left: 41.5%;
  margin-top: 10px;
  margin-bottom: 10px;
  /*margin: 5px 0px;*/
}

#status {
  width: 280px;
  height: 35px;
  font-size: 20px;
  padding: 2px 30px;
  border: none;
  margin: 5px 0px;
}

button {
    width: 280px;
    height: 35px;
    font-size: 20px;
    padding: 2px 30px;
    border: none;
    margin: 5px 0px;
    background-color: crimson;
}
