<div class="text-center">
    <form style>
      <img class="mt-4 mb-4" src="https://www.svgrepo.com/show/51052/vk.svg" height="72" alt="Logo">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      <div class="form-group">
        <!-- <label for="username" class="sr-only">Nume</label> -->
        <input class="form-control" type="text" placeholder="Username" id="username" [(ngModel)]="username" required autofocus>
      </div>
      <div class="form-group">
        <!-- <label for="password" class="sr-only">Password</label>  -->
        <input class="form-control" type="password" placeholder="Password" id="password" [(ngModel)]="password">
      </div>
      <div class="mt-3">
        <button class="btn btn-lg btn-dark btn-block" (click)="login()">Login</button>
      </div>
    </form>
</div>
  