<div id="mainContainer">
  <div id="background_header"></div>
  <div id="background_body"></div>
  {{ logDetection() }}
  <div id="chatContainer">
    <left-panel
      [currentChatRoom]="getCurrentChatRoom()"
      [currentUser]="getLoggedUser()"
      [conversations]="chatRooms"
      (searchEntered)="handleSearchContact($event)"
      (conversationClick)="handleConversationClick($event)"
    >
    </left-panel>
    <div id="chat">
      <div id="chatPlaceholder" *ngIf="!currentChatRoom">
        <img width="400" src="../assets/images/phoneIcon.png" />
        <h2>Whispr</h2>
        <p>Whispr is a secure chat app.<br /></p>
        <div class="seperator"></div>
      </div>
      <chat-frame
        [currentChatRoom]="getCurrentChatRoom()!"
        [currentUser]="getLoggedUser()"
        *ngIf="currentChatRoom"
      ></chat-frame>
    </div>
  </div>
</div>
