<div class="text-center">
    <form>
      <img class="mt-4 mb-4" src="https://media.istockphoto.com/vectors/letter-logo-formed-by-two-parallel-lines-with-noise-texture-vector-id1201523312?k=20&m=1201523312&s=612x612&w=0&h=muC5BerISf25lI9aWRDTUpWABqOADIO_OPfEX2ZkMU0=" height="72" alt="Logo">
      <h1 class="h3 mb-3 font-weight-normal">Pssst... Welcome to Whispr!</h1>
      <div class="mt-3">
        <button id="login-btn"class="btn btn-lg btn-dark btn-block" (click)="handleClick($event)">Login</button>
      </div>
      <div class="mt-3">
        <button id="register-btn" class="btn btn-lg btn-dark btn-block" (click)="handleClick($event)">Register</button>
      </div>
    </form>
</div>
