<div class="flex-column bg-dark scrollarea">
    <div class="list-group list-group-flush border-bottom">
        <div class="p-2 bg-light border-bottom d-flex">
            <input type="text" class="form-control" id="search" autocomplete="false" placeholder="Search for contacts ..." [(ngModel)]="searchedContact">
            <button type="button" class="btn btn-outline-secondary" id="search-btn" (click)="handleSearch($event)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
                    </path>
                </svg>
                <span class="visually-hidden">Button</span>
            </button>
        </div>
    </div>
    <div class="card" *ngFor="let chatRoom of this.chatRooms!">
        <div>This is a chat room</div>
    </div>
</div>